body{
	display: flex;
}

.menu{
	display: flow-root;
	background-color: #DDD;
	width: 300px;
	height: 100vh;

}

.menu a{
	margin-left: 40px;
	margin-top: 3rem;
}

div .menu:hover{
	background-color: #CCC
}

#container {
	border: 1px solid black;
	background: url(../fundo_quadriculado.png);
	background-repeat: repeat;
	background-size: 25px 25px;
	max-width: 99vw!important;
	max-height: 99vh!important;
	margin-left: 50px;
	margin-top: 50px;
}

.paredes_container {
	border: 1px solid black;
	background: url(../fundo_quadriculado.png);
	background-repeat: repeat;
	background-size: 25px 25px;
	max-width: 85vw!important;
	max-height: 90vh!important;
	margin-left: 50px;
	margin-top: 50px;
}

.konvajs-content{
	max-width: 85vw!important;
	max-height: 90vh!important;
}



.nav{
	width: 25vw;
	margin-top: 50px;
    max-width: 75vw;
    height: 5px;
    background-color: #BBB;
    margin-left: 50px;
    margin-right: 50px;
}