/*! gridster.js - v0.6.10 - 2015-05-31
* https://dsmorse.github.io/gridster.js/
* Copyright (c) 2015 ducksboard; Licensed MIT */
.componente{
  height: 10vh;
  width: 5vw;
  border:1px solid #DDD;
  border-radius: 10px;
  color: #BBB; 
  text-align: center;
}


li.hover{
  background-color: #DDD;
}

.text-vertical{
  filter: flipv fliph;  
  writing-mode: tb-rl;
  transform: rotate(180deg);
  border: 0px!important
}
#projeto{
  background-size: 10px 10px;
    background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
}
#tela-projeto{
  min-height: 100vh;
  max-height: 100vw;
  max-width: 3vw; 
  min-width: 68.5vw;
  display: block;
  background: #EEE;
}
.section-li{
  max-width: 100px;
}
.active {
  max-width: 30vw!important;
}

.btn{
  background-color: #949494!important;
}
.card.small {
    height: 20vh!important;
    width: 10vw;
}
.card-title{
  margin-top: 8vh;
  color: ##949494;
}

.card img {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

body {
  background: #949494;
  font-size: 16px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #ffffff;
  margin: 0;
}
h1,
h2,
h3,
p {
  margin: 10px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.demo {
  margin: 3em 0;
  padding: 7.5em 0 5.5em;
  background: #26941f;
}
.demo:hover .gridster {
  margin: 0 auto;
  opacity: .8;
  -webkit-transition: opacity .6s;
  -moz-transition: opacity .6s;
  -o-transition: opacity .6s;
  -ms-transition: opacity .6s;
  transition: opacity .6s;
}
.content {
  color: white;
}
.gridster .gs-w {
  background: #DDD;
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.gridster .player {
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  background: #BBB;
}
.gridster .gs-w.try {
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  background-position: 37px -169px;
}
.gridster .preview-holder {
  border: none !important;
  border-radius: 0 !important;
  background: red !important;
}

.gridster li {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  line-height: 100%;
}
ul {
  list-style-type: none;
}
li {
  list-style: none;
  font-weight: bold;
}
.gridster-box {
  position: relative;
  width: 100%;
  height: 100%;
}
.controls {
  margin-bottom: 20px;
}
/*# sourceMappingURL=demos/assets/css/demo.css.map */

* {
  box-sizing: border-box;
  /*   border: 1px solid black; */
}

body {
  font-family: 'Lato';
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

ul {
  display: flex;
  min-height: 100vh;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
}

li {
  flex: 1;
  display: flex;
  align-items: stretch;
  padding: 20px;
  background: #949494;
  cursor: pointer;
  transition: all .5s ease;
}
li:hover {
  background: #DDD;
}

li.active {
  flex: 5;
  background: #fff;
  cursor: default;
  /*max-width: none!important;*/
}
li.active h2 {
  color: #949494;
}
li.active .section-content {
  flex: 4;
  opacity: 1;
  transform: scaleX(1);
  color: #949494;
}
li .section-title {
  flex: 1;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
}
li .section-title h2 {
  margin: 0;
  transform: rotate(-90deg);
  white-space: nowrap;
}
li .section-content {
  flex: 1;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: all .25s .1s ease-out;
}
