<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdn.rawgit.com/konvajs/konva/1.6.5/konva.min.js"></script>
<div id="container"></div>
<div id="buttons">

	<p><button id='greenup'>Move Green + 1</button></p>
	<p><button id='greendn'>Move Green -1</button></p>
	<p><button id='greenup10'>Move Green +10</button></p>
	<p><button id='greendn100'>Move Green -100</button></p>

	<span id='info'></span>

</div>

<script type="text/javascript">
	// Create the stage
var stage = new Konva.Stage({
    container: 'container',
    width: $('#container').width(),
    height: $('#container').height()
});

// create the layer
var layer = new Konva.Layer();

var data = [ {x: 60, color: 'red'}, {x: 90, color: 'limegreen'}, {x: 120, color: 'gold'}]
var circles = [];

for (var i = 0; i < data.length; i = i + 1){
  // create some circles
  var circle = new Konva.Circle({
      x: data[i].x,
      y: 60,
      radius: 50,
      fill: data[i].color,
      stroke: 'black',
      strokeWidth: 2
  });
  layer.add(circle);
  circles.push(circle);
}

stage.add(layer);
layer.draw()

var green = circles[1]; 
function sayIndex(){
$('#info').html("Green zIndex=" + circles[1].getZIndex());
}

$('#greenup').on('click', function(){
  green.moveUp();
  sayIndex();
  layer.draw();
})

$('#greendn').on('click', function(){
  green.moveDown();
  sayIndex();
  layer.draw();
})


$('#greenup10').on('click', function(){
  var ind = circles[1].getZIndex();
  green.setZIndex(ind + 10);
  sayIndex();
  layer.draw();
})

$('#greendn100').on('click', function(){
  var ind = circles[1].getZIndex();
  green.setZIndex(ind - 100);
  sayIndex();
  layer.draw();
})
</script>

<style type="text/css">
#container
{
	width: 200px;
	height: 150px;
	border: 1px solid #666;
	float: left;
}
#buttons
{
	width: 200px;
	height: 150px;
	border: 1px solid #666;
	float: left;
}
#info
{
	position: absolute;
	left: 20px;
	top: 135px;
}
p
{
	margin: 10px;
}
</style>